.hero-section{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/Images/traveler-new.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* .hero-section {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../assets/Images/traveler-new.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
} */
