@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-giest: Giest, "sans-serif";
  --font-notch: Stack Sans Notch, "sans-serif";
  --font-urbanist: Urbanist, "sans-serif";
}

.card-tilt {
  transform-style: preserve-3d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-tilt:hover {
  transform: perspective(900px) rotateX(6deg) rotateY(-6deg) scale(1.03);
  box-shadow: 0 25px 40px rgba(0,0,0,0.25);
}
